<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="UTF-8">
  <title>hometask13-14</title>
  <link rel="stylesheet" href="css/js13-14.css">
  <script src="js/jquery-3.1.1.min.js"></script>
  <script src="js/template.js"></script>
  <script src="js/13/jshome13-14.js"></script>
  <script src="js/13/action.js"></script>
 </head>
  <body>
   <script type="text/html" id="home">
     <% for ( var i = 0; i < homework.length; i++ ) { %>
     <%= homework[i] %>
     <% } %>
   </script>
   <div id="modal_form">
     <span id="modal_close">X</span>
     <p id="test_result"></p>
     <p id="passed"></p>
   </div>
   <div id="overlay"></div>
  </body>
</html>
