.checkbox-wrapper {
  margin: 0 auto;
  height: 130px;
  background-color: #0c0;
  z-index: 1;
}
.checkbox-wrapper h4 {
  text-align: center;
}
.checkbox-wrapper .jquery-checkbox-list {
  text-align: center;
  width: 230px;
  float: left;
}
.checkbox-wrapper .jquery-checkbox-list li {
  font-size: 15px;
  display: block;
  width: 100px;
  cursor: pointer;
  padding-left: 30px;
}
.niceCheck {
  position: relative;
  top: 2px;
  width: 17px;
  height: 17px;
  margin-top: 10px;
  display: inline-block;
  cursor: pointer;
}
.niceCheck input {
	display: none;
}
#checkbox1 {
  background-image: url('../img/checkbox1-jquery.png');
  left: 5px;
}
#checkbox2 {
  background-image: url('../img/checkbox2-jquery.png');
  left: 11px;
}
#checkbox3 {
  background-image: url('../img/checkbox3-jquery.png');
}
.checkbox-wrapper .css-checkbox-list {
  text-align: center;
  width: 200px;
  float: right;
}
.checkbox-wrapper .css-checkbox-list li {
  font-size: 15px;
  display: block;
  width: 100px;
  padding-left: 30px;
}
input[type=checkbox] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
label {
  cursor: pointer;
}
input[type=checkbox] + .la1:after {
	background-position: 0 0;
}
.la1:hover:after {
	background-position: 0 17px;
}
input[type=checkbox]:checked + .la1:hover:after {
	background-position: 0 34px;
}
input[type=checkbox]:checked + .la2:after {
	background-position: 0 0;
}
.la2:hover:after {
	background-position: 0 17px;
}
input[type=checkbox]:checked + .la2:hover:after {
	background-position: 0 34px;
}
input[type=checkbox] + .la3:after {
	background-position: 0 0;
}
.la3:hover:after {
	background-position: 0 17px;
}
input[type=checkbox]:checked + .la3:hover:after {
	background-position: 0 34px;
}
.la1:after {
  content: " ";
  display: inline-block;
  width: 17px;
  height: 17px;
  position: relative;
  top: 3px;
  margin-left: 15px;
  background: url('../img/checkbox1-css.png');
  background-position: 0;
}
.la2:after {
  content: " ";
  display: inline-block;
  width: 17px;
  height: 17px;
  position: relative;
  top: 3px;
  margin-left: 15px;
  background: url('../img/checkbox2-css.png');
  background-position: 0;
}
.la3:after {
  content: " ";
  display: inline-block;
  width: 17px;
  height: 17px;
  position: relative;
  top: 3px;
  margin-left: 15px;
  background: url('../img/checkbox3-css.png');
  background-position: 0;
}
