.table {
    width: 250px;
    height: 350px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.table div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: 1px solid #000;
}
.table div:nth-child(2),.table div:nth-child(3),.table div:nth-child(6),.table div:nth-child(16),.table div:nth-child(5),.table div:nth-child(13) {
    width: 98px;
}
.table div:nth-child(3),.table div:nth-child(6),.table div:nth-child(13) {
    background: #ff0;
}
.table div:nth-child(5),.table div:nth-child(10) {
    height: 148px;
}
.table div:nth-child(5) {
   background: #f00;
}
.table div:nth-child(7),.table div:nth-child(9),.table div:nth-child(8) {
    height: 98px;
    margin-top: -100px;
}
.table div:nth-child(8) {
    margin-left: 100px;
}
.table div:nth-child(10) {
    background: #000;
}
.table div:nth-child(11),.table div:nth-child(12),.table div:nth-child(13) {
    height: 98px;
}
.table div:nth-child(14) {
    margin-top: -50px;
    margin-left: 50px;
}
.table div:nth-child(15),.table div:nth-child(16) {
    margin-top: -50px;
}
.table div:nth-child(16) {
   background: #00f;
}