.wrapper {
  margin:  0 auto;
  width: 1000px;
  padding: 18px 46px 0;
}
.header-pane {
  height: 27px;
  padding-left: 7px;
}
.signphone-bg {
  display: inline-block;
  width: 21px;
  height: 21px;
  background-image: linear-gradient(to top, #206988 0%, #114165 59%, #0c3256 100%);
  border-radius: 16px;
}
#signphone {
  display: block;
  transform: scale(1.8) rotate(270deg);
  color: white;
  position: relative;
  left: -1px;
  top: -6px;
}
.phonenumber {
  display: inline-block;
  width: 268px;
  height: 17px;
  color: #5e696d;
  font-family: Tahoma;
  font-size: 18.8px;
  font-weight: 400;
  line-height: 25px;
}
.entrance-form {
  display: inline-block;
  margin-left: 10px;
  width: 495px;
  height: 26px;
  background-color: #b1bcc0;
  background-image: linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);
  border-radius: 4px;
  box-shadow: 1.5px 2.6px 3px rgba(150, 150, 150, 0.75);
}
#signhuman {
  display: inline-block;
  background-image: url('../img/userpic.jpg');
  width: 12px;
  height: 19px;
  position: relative;
  top: 4px;
  left: 7px;
  padding-right: 3px;
}
#login {
  display: inline-block;
  width: 112px;
  height: 18px;
  margin: 2px 3px 3px 5px;
  color: #5e696d;
  background-color: white;
  border: 1px solid #9ba1a3;
  text-indent: 1px;
}
#password {
  display: inline-block;
  width: 112px;
  height: 18px;
  margin: 3px;
  color: #5e696d;
  background-color: white;
  border: 1px solid #9ba1a3;
  text-indent: 1px;
}
.enter {
  display: inline-block;
  color: white;
  font-family: "Lucida Sans Unicode", Tahoma, sans-serif;
  font-size: 11px;
  font-weight: 400;
  background-image: linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);
  position: relative;
  top: -3px;
  left: -2px;
  width: 30px;
  border: 0;
  letter-spacing: -0.1px;
}
.vline {
  display: inline-block;
  border-right: 1px solid #fff;
  height: 8px;
  position: relative;
  top: -2px;
  left: -3px;
}
.reg {
  display: inline-block;
  color: white;
  font-family: "Lucida Sans Unicode", Tahoma, sans-serif;
  font-size: 11px;
  font-weight: 400;
  background-image: linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);
  position: relative;
  top: -3px;
  left: -5px;
  width: 70px;
  padding-left: 2px;
  letter-spacing: -0.3px;
}
.remember {
  display: inline-block;
  margin-left: 16px;
  width: 95px;
  height: 13px;
  position: relative;
  top: -3px;
  left: -7px;
  color: #bfbfbf;
  font-family: "Lucida Sans Unicode", Tahoma, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: underline;
}
.header-pane nav {
  display: inline-block;
  margin-left: 13px;
  width: 76px;
  height: 19px;
  position: relative;
  top: -2px;
  background-color: white;
  border: 1px solid #bdc4c7;
  border-radius: 17px;
}
#home {
  display: inline-block;
  width: 12px;
  height: 13px;
  background-image: url("../img/homebackpic.jpg");
  position: relative;
  left: 9px;
  top: -2px;
}
#sitemap {
  display: inline-block;
  width: 16px;
  height: 13px;
  background-image: url("../img/sitemappic.jpg");
  position: relative;
  left: 10px;
  top: -1px;
}
#letter {
  display: inline-block;
  font-size: 13px;
  position: relative;
  top: -3px;
  left: 16px;
}
#logo {
  padding-top: 10px;
  width: 912px;
  height: 237px;
}
.header-menu-bg {
  width: 912px;
  height: 32px;
  background-image: linear-gradient(to top, black 0%, #576068 100%);
  border: 1px solid #0d1642;
  border-radius: 5px;
  box-shadow: 1.5px 2.6px 5px rgba(0, 0, 0, 0.75);
}
.header-menu {
  list-style: none;
  margin-left: 126px;
  width: 526px;
  height: 32px;
}
.header-menu-item {
  display: inline-block;
}
.header-menu-link {
  display: inline-block;
  padding: 1px 10px 0 19px;
  text-transform: uppercase;
  font-family: Arial;
  font-size: 14.2px;
  font-weight: 400;
  color: white;
  background-image: linear-gradient(to top, black 0%, #576068 100%);
  border-radius: 16px;
  height: 32px;
  line-height: 32px;
}
.header-menu-item:nth-child(2) {
  position: relative;
  left: -7px;
}
.header-menu-item:nth-child(3) {
  position: relative;
  left: -6px;
}
.header-menu-item:nth-child(4) {
  position: relative;
  left: -9px;
}
.header-menu-item:nth-child(5) {
  position: relative;
  left: -17px;
}
.header-menu-link:hover {
  background-image: linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);
  border-radius: 16px;
  height: 32px;
}
.basket {
  float: right;
  position: relative;
  top: -25px;
  left: -25px;
  font-size: 13px;
}
.basket-goodstext {
  position: relative;
  top: -4px;
  left: -1px;
  padding-left: 5px;
  color: #929b9f;
  letter-spacing: -0.1px;
}
.basket-moneytext {
  position: relative;
  top: -5px;
  left: 3px;
  padding-left: 7px;
  color: #929b9f;
}
.basket-goodsamount {
  position: relative;
  top: -4px;
  color: #4396d5;
}
.basket-moneyamount {
  position: relative;
  top: -4px;
  left: 11px;
  color: #4396d5;
}
.forms {
  padding: 12px 0 10px 6px;
  white-space: nowrap;
}
.findauto {
  display: inline-block;
  margin-right: 10px;
  width: 413px;
  height: 134px;
  background-color: white;
  border: 1px solid #9c9c9d;
  border-radius: 17px;
  box-shadow: 2.6px 4.3px 5px rgba(104, 104, 104, 0.75);
}
.findtires {
  display: inline-block;
  margin-right: 5px;
  width: 191px;
  height: 134px;
  background-color: white;
  border: 1px solid #9c9c9d;
  border-radius: 17px;
  box-shadow: 2.6px 4.3px 5px rgba(150, 150, 150, 0.75);
}
.finddiscs {
  display: inline-block;
  width: 268px;
  height: 134px;
  background-color: white;
  border: 1px solid #9c9c9d;
  border-radius: 17px;
  box-shadow: 2.6px 4.3px 5px rgba(150, 150, 150, 0.75);
}
.leftcol {
  display: inline-block;
  width: 190px;
  height: 366px;
  vertical-align: top;
}
.caption {
  margin-top: 4px;
  width: 181px;
  height: 26px;
  background-color: white;
  border: 1px solid #79878d;
  border-radius: 18px;
  box-shadow: 1.5px 2.6px 3px rgba(150, 150, 150, 0.75);
}
.signdoc-bg {
  margin-left: 5px;
  width: 25px;
  height: 25px;
  background-color: #e20202;
  background-image: linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);
  border-radius: 15px;
}
.signdoc {
  height: 18px;
  position: relative;
  left: 1px;
  top: 3px;
}
.caption-text {
  text-transform: uppercase;
  width: 145px;
  height: 11px;
  padding-left: 4px;
  color: #114165;
  font-family: "Lucida Sans Unicode", Tahoma, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.1px;
}
.leftside {
  list-style-type: circle;
}
.menubox {
  width: 150px;
  height: 28px;
  margin-top: 11px;
  background-color: white;
  border: 1px solid #79878d;
  border-radius: 16px;
}
.asidemenu-title {
  color: #114165;
  font-family: "Lucida Sans Unicode", Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  top: -5px;
  left: 1px;
}
.chmb {
  position: relative;
  top: -8px;
}
.chmb2 {
  position: relative;
  top: -17px;
}
.chmi {
  position: relative;
  top: -7px;
}
.chmi2 {
  position: relative;
  top: -14px;
}
.donut {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: white;
  border: #114165 6px solid;
  border-radius: 18px;
  position: relative;
  top: 2px;
  left: 4px;
}
.asidemenu_item {
  margin: 0 0 5px 53px;
  letter-spacing: -0.2px;
  text-indent: -5px;
}
.asidemenu_lnk {
  color: #465961;
  font-family: "Lucida Sans Unicode", Tahoma, sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.asidemenu_lnk:hover {
  color: #0c3256;
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
  text-decoration: underline;
}
.main-container {
  display: inline-block;
  width: 526px;
  height: 627px;
  background-color: white;
  background-image: linear-gradient(to top, rgba(35, 75, 93, 0.24) 0%, rgba(201, 207, 209, 0.24) 100%);
  border-radius: 3px;
}
.rightcol {
  display: inline-block;
  width: 197px;
  height: 28px;
  vertical-align: top;
}
.rightside {
  list-style-type: square;
}
.button {
  margin: 18px 0 0 27px;
  width: 82px;
  height: 26px;
  color: #e5e9ea;
  font-family: Arial;
  font-size: 14.2px;
  font-weight: 400;
  background-color: black;
  background-image: linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);
  border: 1px solid #a7abae;
  border-radius: 10px;
}
figure {
  display: inline-block;
  width: 143px;
  margin: 8px 7px 10px 12px;
}
figcaption {
  color: #114165;
  font-family: Arial;
  font-weight: 700;
  font-style: italic;
  font-size: 16px;
  text-align: center;
  position: relative;
  top: 3px;
  left: 7px;
}
figcaption::after {
  content: ' грн.';
  font-size: 13px;
}
.gdtires1 {
  width: 135px;
  height: 126px;
  background-color: white;
  border: 1px solid #a4aeb1;
  border-radius: 7px;
}
.goodyear-tires1 {
  margin: 4px 0 0 25px;
}
.ntires1 {
  width: 136px;
  height: 126px;
  background-color: white;
  border: 1px solid #a4aeb1;
  border-radius: 7px;
}
.nokian-tires1 {
  margin: 2px 0 0 36px;
}
.htires1 {
  width: 138px;
  height: 126px;
  background-color: white;
  border: 1px solid #a4aeb1;
  border-radius: 7px;
}
.hankook-tires1 {
  margin: 3px 0 0 30px;
}
.gdtires2 {
  width: 134px;
  height: 128px;
  background-color: white;
  border: 1px solid #a4aeb1;
  border-radius: 7px;
}
.goodyear-tires2 {
  margin: 5px 0 0 26px;
}
.ntires2 {
  width: 136px;
  height: 126px;
  background-color: white;
  border: 1px solid #a4aeb1;
  border-radius: 7px;
}
.nokian-tires2 {
  margin: 2px 0 0 33px;
}
.htires2 {
  width: 138px;
  height: 126px;
  background-color: white;
  border: 1px solid #a4aeb1;
  border-radius: 7px;
}
.hankook-tires2 {
  margin: 2px 0 0 31px;
}
.gdtires3 {
  width: 135px;
  height: 131px;
  background-color: white;
  border: 1px solid #a4aeb1;
  border-radius: 7px;
}
.goodyear-tires3 {
  margin: 4px 0 0 25px;
}
.ntires3 {
  width: 136px;
  height: 126px;
  background-color: white;
  border: 1px solid #a4aeb1;
  border-radius: 7px;
}
.nokian-tires3 {
  margin: 2px 0 0 36px;
}
.htires3 {
  width: 138px;
  height: 126px;
  background-color: white;
  border: 1px solid #a4aeb1;
  border-radius: 7px;
}
.hankook-tires3 {
  margin: 3px 0 0 30px;
}
.goodyear-title {
  text-transform: capitalize;
  text-align: center;
  font-family: "Lucida Sans Unicode", Tahoma, sans-serif;
  font-weight: 400;
  line-height: 13px;
  color: #206988;
  font-size: 15px;
  position: relative;
  left: -4px;
}
.goodyear-text {
  text-transform: capitalize;
  text-align: center;
  font-family: "Lucida Sans Unicode", Tahoma, sans-serif;
  font-weight: 400;
  line-height: 13px;
  color: #1f2528;
  font-size: 13px;
  position: relative;
  left: -2px;
}
.nokian-title {
  text-transform: capitalize;
  text-align: center;
  font-family: "Lucida Sans Unicode", Tahoma, sans-serif;
  font-weight: 400;
  line-height: 13px;
  color: #206988;
  font-size: 15px;
}
.nokian-text {
  text-transform: capitalize;
  text-align: center;
  font-family: "Lucida Sans Unicode", Tahoma, sans-serif;
  font-weight: 400;
  line-height: 13px;
  color: #1f2528;
  font-size: 13px;
}
.hankook-title {
  text-transform: capitalize;
  text-align: center;
  font-family: "Lucida Sans Unicode", Tahoma, sans-serif;
  font-weight: 400;
  line-height: 13px;
  color: #206988;
  font-size: 15px;
  position: relative;
  left: 3px;
  top: 1px;
}
.hankook-text {
  text-transform: capitalize;
  text-align: center;
  font-family: "Lucida Sans Unicode", Tahoma, sans-serif;
  font-weight: 400;
  line-height: 13px;
  color: #1f2528;
  font-size: 13px;
}
.block {
   margin: 10px;
}
.caption2 {
  margin: 1px 0 0 5px;
  width: 177px;
  height: 25px;
  background-color: white;
  border: 1px solid #79878d;
  border-radius: 18px;
  box-shadow: 1.5px 2.6px 3px rgba(150, 150, 150, 0.75);
}
.caption-text2 {
  text-transform: uppercase;
  width: 145px;
  height: 11px;
  padding-left: 6px;
  color: #114165;
  font-family: "Lucida Sans Unicode", Tahoma, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.4px;
}
.brntires {
  margin: 14px 0 0 18px;
  width: 135px;
  height: 26px;
}
.brndiscs {
  margin: 10px 0 0 17px;
  height: 26px;
  width: 135px;
}
.brend {
  display: block;
  text-transform: capitalize;
  padding: 6px 0px 0 39px;
  color: #465961;
  font-family: "Lucida Sans Unicode", Tahoma, sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.checkbox {
  width: 9px;
  height: 11px;
  position: relative;
  top: 2px;
  left: -9px;
  background-color: white;
  border: 1px solid #114165;
  box-shadow: inset 0.5px 0.9px 1px rgba(0, 0, 0, 0.75);
}
.footer-img {
   margin: 39px 0 23px 117px;
}
.footer-menu {
  width: 909px;
  height: 101px;
  background-color: #213a4d;
  border: 1px solid #242a3c;
}
.footer-link {
  display: inline-block;
  height: 11px;
  font-family: Arial;
  font-size: 12.3px;
  font-weight: 400;
  line-height: 11px;
  color: #fff;
  padding: 0 8px 0 11px;
  border-left: 2px solid #fff;
}
footer ul {
  margin: 7px 0 0 297px;
  list-style-type: none;
}
footer ul li {
  display: inline-block;
}
.footer-link:first_child {
  border-left: 2px solid #213a4d;
}
.footer-link:hover {
  color: #52abcb;
}
.footer-text {
  padding-top: 8px;
  text-align: center;
  color: #7f4740;
  font-family: Arial;
  font-size: 10px;
  font-weight: 400;
  line-height: 18px;
}
