table {
  border-collapse: collapse;
  text-align: center;
  margin: auto;
}

td {
  width: 50px;
  height: 50px;
}

.cell {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.cellv {
  visibility: hidden;
}

.c7 {
  height: 100px;
}

.c13 {
  width: 100px;
  height: 100px;
}

.c5 {
  background-color: red;
}

.c3,
.c6,
.c13 {
  background-color: yellow;
}

.c10 {
  background-color: black;
}

.c16 {
  background-color: blue;
}