body {
  background: linear-gradient(to top,#0c739f,#3fc4d2 80%, white 80%, #12cee1 95%, #128aa7 95%);
}
.wrapper {
  margin:             0 auto;
  width:              970px;
  height:             95vh;
  background-color:   white;
  box-shadow:         0 5px 5px 0 rgba(0, 0, 0, 0.53);
}
.header {
  height: 20%;
}
.holy {
  float: left;
}
.flags {
  display: inline-block;
  float: right;
}
