@import "../../../fonts/stylesheet.css" screen;

$total-width: 100%;

.wrapper {
  width: $total-width;
  background-color: white;
  font-family: 'Montserrat';
}
//header stars
header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
  .header-text {
    color: white;
    font-weight: 700;
  }
  .font08 {
    font-size: 0.875rem;
    margin-right: 1rem;
  }
  .bordered {
    padding: 0.5rem 1.07rem;
    border: 0.125rem solid white;
    border-radius: 1.222rem;
  }
  .share-dreams {
    clear: both;
    text-align: center;
  	text-transform: uppercase;
  }
  .fulfil-dreams {
    clear: both;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 300;
  }
  .find-partner {
    clear: both;
  	background-color: #ff4e50;
    border-radius: 1.222rem;
  }
  .font-partner {
    display: block;
    text-align: center;
    font-size: 0.875rem;
    line-height: 2.5rem;
    vertical-align: middle;
  }
//header ends
//main starts
.how-it-works {
  margin: 5.9rem auto 2.5rem;
  width: 18rem;
  height: 1.375rem;
  color: #333;
  font-size: 1.375rem;
}
.jcarousel {
  display: inline-block;
}
.jcarousel-list {
  list-style: none;
}
.jcarousel-prev {
  width: 1.875rem;
  height: 3.438rem;
  opacity: 0.5;
  background-color: white;
  position: relative;
  left: 3.5rem;
  top: -12rem;
}
.jcarousel-next {
  width: 1.875rem;
  height: 3.438rem;
  opacity: 0.5;
  background-color: white;
  position: relative;
  left: -3.5rem;
  top: -12rem;
}
.step {
  width: 4.375rem;
  height: 1.25rem;
  line-height: 1.25rem;
  vertical-align: middle;
  text-align: center;
  background-color: #ff4e50;
  border-radius: 10px;
  color: white;
	font-size: 0.625rem;
	font-weight: 400;
	text-transform: uppercase;
  text-indent: 0.2rem;
  letter-spacing: 0.1rem;
}
.title {
  width: 12.625rem;
  height: 3.063rem;
  color: white;
	font-size: 1.5rem;
	font-weight: 700;
}
.description {
  width: 16.188rem;
  height: 2.813rem;
  color: #ccc;
	font-family: Roboto;
	font-size: 0.875rem;
	font-weight: 300;
}
.meet-partner {
	color: #333;
	font-size: 1.375rem;
	font-weight: 700;
}
.search-partner {
	color: #ff4e50;
	font-size: 0.875rem;
	font-weight: 700;
}
//main ends
//footer starts
//footer ends
@media screen and (max-width: 320px) {

  .wrapper {
    width: 20rem;
    height: 244.063rem;
  }
  //header starts
  header {
    height: 33.75rem;
    background-image: url("../../img/URLAUBSGLUCK_Landing_Mobile.jpg");
  }
  .center {
    margin: 1.7rem 5rem;
    width: 10.8rem;
  }
  .top {
    padding-top: 6.28rem;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 0.099rem;
    position: relative;
    left: -0.1rem;
  }
  .top:after {
    content: '..';
    position: relative;
    left: -2.7rem;
    top: -0.9rem;
    letter-spacing: -0.1rem;
  }
  .share-dreams {
    letter-spacing: -0.07rem;
    position: relative;
    left: -0.2rem;
    padding-top: 1.25rem;
  }
  .fulfil-dreams {
    width: 14.563rem;
    height: 2.25rem;
    font-size: 1.125rem;
    margin: 0.3rem auto;
    position: relative;
    left: -0.1rem;
  }
  .find-partner {
  	width: 17.5rem;
    height: 2.5rem;
    margin: 1.7rem auto;
  }
  .font-partner {
    position: relative;
    left: -0.1rem;
  }
  //header ends
  //main starts
  main {
    margin: 0 auto;
    width: 18.75rem;
  }
  //main ends
  //footer starts
  //footer ends
}
@media screen and (max-width: 768px) {

  .wrapper {
    width: 48rem;
    height: 228.625rem;
  }
  //header starts
  header {
    height: 43.75rem;
    background-image: url("../../img/URLAUBSGLUCK_Landing_Tablet.jpg");
  }
  .share-dreams {
    width: 29.813rem;
    height: 6.375rem;
  	font-size: 3.25rem;
    letter-spacing: -0.07rem;
    position: relative;
    left: -0.6rem;
    margin: 13.5rem auto 0;
  }
  .fulfil-dreams {
    width: 24.875rem;
    height: 1.5rem;
    font-size: 1.5rem;
    margin: 2.9rem auto;
    position: relative;
    left: -0.2rem;
  }
  .find-partner {
    width: 14.125rem;
  	height: 2.5rem;
    margin: 1.7rem auto;
  }
  .font-partner {
    position: relative;
    left: -0.1rem;
  }
  .left {
    margin: 2.827rem 2.9rem;
    float: left;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
  }
  .left:after {
    content: '..';
    position: relative;
    left: -2.8rem;
    top: -0.9rem;
    letter-spacing: -0;
  }
  .right {
    margin: 2.827rem 2.2rem;
    float: right;
  }
  //header ends
  //main starts
  main {
    margin: 0 auto;
    width: 46.5625rem;
  }
  //main ends
  //footer starts
  //footer ends
}
@media screen and (max-width: 1440px) {
  $width: 90rem;
  $height: 212.375rem;
  $total-height: $height / $width*100%;
  $wkoef: $total-width / $width;
  .wrapper {
    height: $total-height;
  }
  //header starts
  header {
    height: 43.75rem;
    background-image: url("../../img/URLAUBSGLUCK_Landing_Desktop-main.jpg");
  }
  .share-dreams {
    font-size: 3.25rem;
    width: 39%;
    height: 6.313rem;
    padding: 6.2rem 30.5% 0;
    }
  .fulfil-dreams {
    width: 31.5%;
    height: 1.5rem;
    font-size: 1.5rem;
    padding: 2.9rem 34.27%;
    }
  .find-partner {
    width: 18%;
    height: 2.5rem;
    margin: -0.5rem 41%;
    }
  .left {
    margin: 3.7% 12.9%;
    float: left;
    font-size: 1.15rem;
    letter-spacing: 0.125rem;
  }
  .left:after {
    content: '..';
    position: relative;
    left: -23.675%;
    top: -0.9rem;
    letter-spacing: -0rem;
  }
  .right {
    margin: 3.7% 11.4%;
    float: right;
  }
  //header ends
  //main starts
  main {
    margin: 0 auto;
    width: 74.3%;
  }
  .padding1 {
    padding-right: 1.6%;
    margin-left: -3.5%;
  }
  .padding2 {
    padding-right: 1.525%;
    margin-left: -7.5%;
  }
  .padding3 {
    position: relative;
    left: 4%;
    margin-left: -11%;
  }
  .var1 {
    position: relative;
    left: 14.4%;
    top: -11rem;
  }
  .mod1 {
    position: relative;
    left: 14.4%;
    top: -10rem;
  }
  .chn1 {
    position: relative;
    left: 14.4%;
    top: -8.9rem;
  }
  .var2 {
    position: relative;
    left: 14.4%;
    top: -9rem;
  }
  .mod2 {
    position: relative;
    left: 14.4%;
    top: -8.2rem;
  }
  .chn2 {
    position: relative;
    left: 14.4%;
    top: -9.2rem;
  }
  .var3 {
    position: relative;
    left: 14.4%;
    top: -11rem;
  }
  .mod3 {
    position: relative;
    left: 14.4%;
    top: -10rem;
  }
  .chn3 {
    position: relative;
    left: 14.4%;
    top: -9rem;
  }
  .separate-meet-partner {
    position: relative;
    top: -2.2rem;
    text-align: center;
  }
  .partner1 {
    margin-left: 3.1rem;
    position: relative;
    top: -0.5rem;
  }
  .partner2 {
    position: relative;
    top: -0.4rem;
    margin-left: 7.3rem;
  }
  .partner3 {
    position: relative;
    top: -0.5rem;
    margin-left: 7.2rem;
  }
  .partner4 {
    margin-left: 7.2rem;
    position: relative;
    top: -0.2rem;
  }
  //main ends
  //footer starts
  //footer ends
}
