@import "../../../fonts/stylesheet.css" screen;
.wrapper {
  width: 100%;
  background-color: white;
  font-family: 'Montserrat'; }

header {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden; }

.header-text {
  color: white;
  font-weight: 700; }

.font08 {
  font-size: 0.875rem;
  margin-right: 1rem; }

.bordered {
  padding: 0.5rem 1.07rem;
  border: 0.125rem solid white;
  border-radius: 1.222rem; }

.share-dreams {
  clear: both;
  text-align: center;
  text-transform: uppercase; }

.fulfil-dreams {
  clear: both;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 300; }

.find-partner {
  clear: both;
  background-color: #ff4e50;
  border-radius: 1.222rem; }

.font-partner {
  display: block;
  text-align: center;
  font-size: 0.875rem;
  line-height: 2.5rem;
  vertical-align: middle; }

.how-it-works {
  margin: 5.9rem auto 2.5rem;
  width: 18rem;
  height: 1.375rem;
  color: #333;
  font-size: 1.375rem; }

.jcarousel {
  display: inline-block; }

.jcarousel-list {
  list-style: none; }

.jcarousel-prev {
  width: 1.875rem;
  height: 3.438rem;
  opacity: 0.5;
  background-color: white;
  position: relative;
  left: 3.5rem;
  top: -12rem; }

.jcarousel-next {
  width: 1.875rem;
  height: 3.438rem;
  opacity: 0.5;
  background-color: white;
  position: relative;
  left: -3.5rem;
  top: -12rem; }

.step {
  width: 4.375rem;
  height: 1.25rem;
  line-height: 1.25rem;
  vertical-align: middle;
  text-align: center;
  background-color: #ff4e50;
  border-radius: 10px;
  color: white;
  font-size: 0.625rem;
  font-weight: 400;
  text-transform: uppercase;
  text-indent: 0.2rem;
  letter-spacing: 0.1rem; }

.title {
  width: 12.625rem;
  height: 3.063rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 700; }

.description {
  width: 16.188rem;
  height: 2.813rem;
  color: #ccc;
  font-family: Roboto;
  font-size: 0.875rem;
  font-weight: 300; }

.meet-partner {
  color: #333;
  font-size: 1.375rem;
  font-weight: 700; }

.search-partner {
  width: 11.75rem;
  height: 2.4rem;
  background-color: white;
  border: 0.125rem solid #ff4e50;
  border-radius: 20px;
  color: #ff4e50;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 2.5rem;
  vertical-align: middle;
  text-align: center;
  margin: 3.2rem auto;
  display: block; }

.title-partner {
  width: 12.125rem;
  height: 0.875rem;
  color: #333;
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center; }

.description-partner {
  width: 13.125rem;
  height: 1.813rem;
  color: #666;
  font-family: Roboto;
  font-size: 0.875rem;
  font-weight: 300;
  text-align: center; }

.grid-text {
  color: white;
  font-size: 1.375rem;
  font-weight: 700;
  position: absolute; }

.discover-ideas {
  color: #333;
  font-size: 1.375rem;
  font-weight: 700; }

.holiday-interest {
  color: #333;
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: 300; }

.text-partner {
  background-color: white;
  border: 0.063rem solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0.063rem 0 #eee;
  color: #999;
  font-family: Roboto;
  font-size: 0.875rem;
  font-weight: 300;
  text-indent: 1rem; }

.go-partner {
  color: white;
  font-size: 0.875rem;
  font-weight: 700;
  background-color: #ff4e50;
  border-radius: 20px; }

.line {
  width: 100%;
  height: 0.25rem;
  background-color: #ff4e50; }

.footer-text {
  color: #ff4e50;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase; }

.footer-menu-item {
  display: block;
  color: #666;
  font-family: Roboto;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem; }

.footer-caption {
  width: 4.5rem;
  color: #333;
  font-size: 0.875rem;
  font-weight: 700; }

.made-by {
  color: #ccc;
  font-size: 0.625rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05rem; }

.logo-firm {
  color: #ff4e50;
  font-size: 1.15rem;
  font-weight: 700;
  letter-spacing: 0.125rem; }

.subtitle {
  color: #ff4e50;
  font-size: 0.425rem;
  font-weight: 700;
  letter-spacing: 0.125rem; }

@media screen and (max-width: 320px) {
  .wrapper {
    height: 244.063rem; }

  header {
    height: 21.43%;
    background-image: url("../../img/URLAUBSGLUCK_Landing_Mobile.jpg"); }

  .center {
    margin: 1.7rem 5rem;
    width: 10.8rem; }

  .top {
    padding-top: 6.28rem;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 0.099rem;
    position: relative;
    left: -0.1rem; }

  .top:after {
    content: '..';
    position: relative;
    left: -2.7rem;
    top: -0.9rem;
    letter-spacing: -0.1rem; }

  .share-dreams {
    letter-spacing: -0.07rem;
    position: relative;
    left: -0.2rem;
    padding-top: 1.25rem; }

  .fulfil-dreams {
    width: 14.563rem;
    height: 2.25rem;
    font-size: 1.125rem;
    margin: 0.3rem auto;
    position: relative;
    left: -0.1rem; }

  .find-partner {
    width: 17.5rem;
    height: 2.5rem;
    margin: 1.7rem auto; }

  .font-partner {
    position: relative;
    left: -0.1rem; }

  main {
    margin: 0 auto;
    width: 18.75rem; } }
@media screen and (max-width: 768px) {
  .wrapper {
    width: 48rem;
    height: 228.625rem; }

  header {
    height: 43.75rem;
    background-image: url("../../img/URLAUBSGLUCK_Landing_Tablet.jpg"); }

  .share-dreams {
    width: 29.813rem;
    height: 6.375rem;
    font-size: 3.25rem;
    letter-spacing: -0.07rem;
    position: relative;
    left: -0.6rem;
    margin: 13.5rem auto 0; }

  .fulfil-dreams {
    width: 24.875rem;
    height: 1.5rem;
    font-size: 1.5rem;
    margin: 2.9rem auto;
    position: relative;
    left: -0.2rem; }

  .find-partner {
    width: 14.125rem;
    height: 2.5rem;
    margin: 1.7rem auto; }

  .font-partner {
    position: relative;
    left: -0.1rem; }

  .left {
    margin: 6% 6.9%;
    float: left;
    font-size: 1.2rem;
    letter-spacing: 0.1rem; }

  .left:after {
    content: '..';
    position: relative;
    left: -2.8rem;
    top: -0.9rem;
    letter-spacing: -0; }

  .right {
    margin: 5.7% 4%;
    float: right; }

  main {
    margin: 0 auto;
    width: 46.5625rem; } }
@media screen and (max-width: 1440px) {
  .wrapper {
    height: 212.375rem; }

  header {
    height: 43.75rem;
    background-image: url("../../img/URLAUBSGLUCK_Landing_Desktop-main.jpg"); }

  .share-dreams {
    font-size: 3.25rem;
    width: 39%;
    height: 6.313rem;
    padding: 6.2rem 30.5% 0; }

  .fulfil-dreams {
    width: 31.5%;
    height: 1.5rem;
    font-size: 1.5rem;
    padding: 2.9rem 34.27%; }

  .find-partner {
    width: 18%;
    height: 2.5rem;
    margin: -0.5rem 41%; }

  .left {
    margin: 3.7% 12.9%;
    float: left;
    font-size: 1.15rem;
    letter-spacing: 0.125rem; }

  .left:after {
    content: '..';
    position: relative;
    left: -23.675%;
    top: -0.9rem;
    letter-spacing: -0rem; }

  .right {
    margin: 3.7% 11.4%;
    float: right; }

  main {
    margin: 0 auto;
    width: 74.3%; }

  .padding1 {
    padding-right: 1.6%;
    margin-left: -3.5%; }

  .padding2 {
    padding-right: 1.525%;
    margin-left: -7.5%; }

  .padding3 {
    position: relative;
    left: 4%;
    margin-left: -11%; }

  .var1, .mod1, .chn1, .var2, .mod2, .chn2, .var3, .mod3, .chn3 {
    position: relative;
    left: 14.4%;
    top: -11rem; }

  .mod1 {
    top: -10rem; }

  .chn1 {
    top: -8.9rem; }

  .var2 {
    top: -9rem; }

  .mod2 {
    top: -8.2rem; }

  .chn2 {
    top: -9.2rem; }

  .var3 {
    top: -11rem; }

  .mod3 {
    top: -10rem; }

  .chn3 {
    top: -9rem; }

  .separate-meet-partner {
    position: relative;
    top: -2.2rem;
    text-align: center; }

  .screen, .partner {
    display: inline-block; }

  .img-partner1, .img-partner2, .img-partner4 {
    margin-left: 24%;
    position: relative;
    top: -2.5rem; }

  .img-partner2 {
    margin-left: 36%; }

  .img-partner3 {
    position: relative;
    top: -0.3rem;
    margin-left: 49%; }

  .img-partner4 {
    margin-left: 61%; }

  .title-partner1 {
    position: relative;
    left: 6.3%;
    top: -1.7rem; }

  .description-partner1 {
    position: relative;
    left: 2.3%;
    top: -0.9rem; }

  .title-partner2 {
    position: relative;
    left: 19%;
    top: -1.7rem; }

  .description-partner2 {
    position: relative;
    left: 14.5%;
    top: -0.9rem; }

  .title-partner3 {
    position: relative;
    left: 31.3%;
    top: 0.6rem; }

  .description-partner3 {
    position: relative;
    left: 27.3%;
    top: 1.6rem; }

  .title-partner4 {
    position: relative;
    left: 43%;
    top: -1.7rem; }

  .description-partner4 {
    position: relative;
    left: 38.8%;
    top: -0.9rem; }

  .upper-ideas, .lower-ideas {
    margin: 10.6% auto 3.3%;
    width: 36.33%;
    height: 1.375rem; }

  .lower-ideas {
    position: relative;
    top: -1.4rem; }

  .grid-sizer, .grid-item {
    width: 31.5%; }

  .grid-item {
    display: inline-block;
    margin-bottom: 14.4px; }

  .margined {
    margin-right: 19.2px; }

  .grid-item--width2 {
    width: 65.5%; }

  .text-idea1 {
    top: 126.2rem;
    left: 16.7%; }

  .text-idea2 {
    top: 126.1rem;
    left: 41.7%; }

  .text-idea3 {
    width: 15%;
    top: 125.3rem;
    left: 68.5%; }

  .text-idea4 {
    top: 146.4rem;
    left: 21.8%; }

  .text-idea5 {
    top: 146.7rem;
    left: 53%; }

  .text-idea6 {
    top: 167.4rem;
    left: 32.7%; }

  .text-idea7 {
    top: 167.3rem;
    left: 71.2%; }

  .other-interest {
    margin: -1.2rem auto 1.2rem;
    width: 29.8%; }

  .form-partner {
    margin: 2% auto 8.7%;
    width: 44%; }

  .other-text-partner {
    margin: 1.2rem 0.7%;
    width: 57.8%;
    height: 2.3rem; }

  .other-go-partner {
    width: 39.3%;
    height: 2.3rem; }

  footer {
    margin: 0 auto;
    width: 74.3%; }

  .footer-mn {
    padding: 2.2rem 25.5% 0;
    list-style-type: none; }

  .footer-mn-it {
    padding-top: 0.6rem; }

  .footer-ht {
    float: left;
    padding-top: 2.2rem;
    letter-spacing: 0.05rem; }

  .footer-pts {
    position: relative;
    top: -7.5rem;
    left: 42.6%; }

  .designer {
    float: right;
    position: relative;
    top: -8.5rem;
    left: 0.1%; }

  .produced {
    position: relative;
    left: 26%; }

  .picture {
    display: inline-block;
    position: relative;
    top: 0.5rem;
    left: -3%; }

  .firm {
    display: inline-block;
    position: relative;
    left: 2%; }

  .icon {
    position: relative;
    top: -0.2rem;
    left: 28.5%; } }
