@import "../../../fonts/stylesheet.css" screen;
.wrapper {
  width: 100%;
  background-color: white;
  font-family: 'Montserrat'; }

header {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden; }

.header-text {
  color: white;
  font-weight: 700; }

.font08 {
  font-size: 0.875rem;
  margin-right: 1rem; }

.bordered {
  padding: 0.5rem 1.07rem;
  border: 0.125rem solid white;
  border-radius: 1.222rem; }

.share-dreams {
  clear: both;
  text-align: center;
  text-transform: uppercase; }

.fulfil-dreams {
  clear: both;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 300; }

.find-partner {
  clear: both;
  background-color: #ff4e50;
  border-radius: 1.222rem; }

.font-partner {
  display: block;
  text-align: center;
  font-size: 0.875rem;
  line-height: 2.5rem;
  vertical-align: middle; }

.how-it-works {
  width: 18rem;
  height: 1.375rem;
  color: #333;
  font-size: 1.375rem; }

.jcarousel {
  display: inline-block; }

.jcarousel-list {
  list-style: none; }

.jbutton {
  width: 1.875rem;
  height: 3.438rem;
  opacity: 0.5;
  background-color: white; }

.step {
  width: 4.375rem;
  height: 1.25rem;
  line-height: 1.25rem;
  vertical-align: middle;
  text-align: center;
  background-color: #ff4e50;
  border-radius: 10px;
  color: white;
  font-size: 0.625rem;
  font-weight: 400;
  text-transform: uppercase;
  text-indent: 0.2rem;
  letter-spacing: 0.1rem; }

.title {
  width: 12.625rem;
  height: 3.063rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 700; }

.description {
  width: 16.188rem;
  height: 2.813rem;
  color: #ccc;
  font-family: Roboto;
  font-size: 0.875rem;
  font-weight: 300; }

.meet-partner {
  color: #333;
  font-size: 1.375rem;
  font-weight: 700; }

.search-partner {
  width: 11.75rem;
  height: 2.4rem;
  background-color: white;
  border: 0.125rem solid #ff4e50;
  border-radius: 20px;
  color: #ff4e50;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 2.5rem;
  vertical-align: middle;
  text-align: center;
  display: block; }

.partner {
  position: relative; }

.title-partner {
  width: 12.125rem;
  height: 0.875rem;
  color: #333;
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center; }

.description-partner {
  width: 13.5rem;
  height: 1.813rem;
  color: #666;
  font-family: Roboto;
  font-size: 0.875rem;
  font-weight: 300;
  text-align: center; }

.grid-text {
  color: white;
  font-size: 1.375rem;
  font-weight: 700;
  position: absolute; }

.discover-ideas {
  color: #333;
  font-size: 1.375rem;
  font-weight: 700; }

.holiday-interest {
  color: #333;
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: 300; }

.text-partner {
  background-color: white;
  border: 0.063rem solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0.063rem 0 #eee;
  color: #999;
  font-family: Roboto;
  font-size: 0.875rem;
  font-weight: 300;
  text-indent: 1rem; }

.go-partner {
  color: white;
  font-size: 0.875rem;
  font-weight: 700;
  background-color: #ff4e50;
  border-radius: 20px; }

.line {
  width: 100%;
  height: 0.25rem;
  background-color: #ff4e50; }

.footer-text {
  color: #ff4e50;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase; }

.footer-menu-item {
  display: block;
  color: #666;
  font-family: Roboto;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem; }

.footer-caption {
  width: 4.5rem;
  color: #333;
  font-size: 0.875rem;
  font-weight: 700; }

.made-by {
  color: #ccc;
  font-size: 0.625rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05rem; }

.logo-firm {
  color: #ff4e50;
  font-size: 1.15rem;
  font-weight: 700;
  letter-spacing: 0.125rem; }

.subtitle {
  color: #ff4e50;
  font-size: 0.425rem;
  font-weight: 700;
  letter-spacing: 0.125rem; }

@media screen and (max-width: 320px) {
  .wrapper {
    height: 244.063rem; }

  header {
    height: 33.75rem;
    background-image: url("../../img/URLAUBSGLUCK_Landing_Mobile.jpg"); }
    header .center {
      margin: 1.7rem 5.1rem;
      width: 10.8rem; }
    header .top {
      padding: 6.27rem 4rem 0 4.35rem;
      text-align: center;
      font-size: 1.2rem;
      letter-spacing: 0.099rem; }
    header .top:after {
      content: '..';
      position: relative;
      left: -2.7rem;
      top: -0.9rem;
      letter-spacing: -0.1rem; }
    header .share-dreams {
      letter-spacing: -0.07rem;
      padding-top: 1.45rem; }
    header .fulfil-dreams {
      width: 14.563rem;
      height: 2.25rem;
      font-size: 1.125rem;
      margin: 0.3rem auto;
      position: relative;
      left: -0.1rem; }
    header .find-partner {
      width: 17.5rem;
      height: 2.5rem;
      margin: 1.65rem auto; }
    header .font-partner {
      position: relative;
      left: -0.08rem; }

  main {
    margin: 0 auto;
    width: 18.75rem; }
    main .how-it-works {
      margin: 2.1rem auto 1.2rem;
      position: relative; }
    main .how-it-works:after {
      content: '..';
      position: absolute;
      left: 57%;
      top: -0.9rem;
      letter-spacing: -0rem; }
    main .img-mob {
      width: 18.75rem;
      height: 15rem;
      border-radius: 4px; }
    main .jcarousel-prev, main .jcarousel-next {
      display: none; }
    main .jcarousel {
      position: relative;
      display: block;
      margin-top: 0.4rem; }
    main .var1, main .var3 {
      position: absolute;
      left: 1.3rem;
      top: 4.3rem; }
    main .mod1, main .mod3 {
      position: absolute;
      left: 7%;
      top: 6.5rem; }
    main .chn1, main .chn3 {
      position: absolute;
      left: 7%;
      top: 10.7rem; }
    main .var2 {
      position: absolute;
      left: 1.3rem;
      top: 6.2rem; }
    main .mod2 {
      position: absolute;
      left: 1.1rem;
      top: 8.5rem; }
    main .chn2 {
      position: absolute;
      left: 7%;
      top: 10.5rem; }
    main .separate-meet-partner {
      margin: 1.9rem auto 0.6rem;
      text-align: center; }
    main .partner {
      height: 14.75rem; }
    main .img-partner1 {
      display: block;
      margin: 0.8rem auto; }
    main .img-partner2 {
      display: block;
      margin: -0.5rem auto; }
    main .img-partner3 {
      display: block;
      margin: 1.7rem auto; }
    main .img-partner4 {
      display: block;
      margin: 0.8rem auto; }
    main .title-partner1, main .title-partner2, main .title-partner3, main .title-partner4 {
      margin: 1rem auto; }
    main .description-partner1, main .description-partner2, main .description-partner3, main .description-partner4 {
      margin: 0 auto; }
    main .separate-search-partner {
      width: 17.5rem;
      margin: 1.65rem auto 0; }
    main .upper-ideas {
      margin: 5.8rem auto 2.7rem;
      width: 36.33%;
      height: 1.375rem; }
    main .lower-ideas {
      position: relative;
      top: -1.4rem; }
    main .grid-item img {
      width: 18.75rem;
      height: 7rem;
      position: relative; }
    main .text-idea1 {
      top: 169rem;
      left: 16.7%; }
    main .text-idea2 {
      top: 176rem;
      left: 16.7%; }
    main .text-idea3 {
      top: 183rem;
      left: 16.7%; }
    main .text-idea4 {
      top: 190rem;
      left: 16.7%; }
    main .text-idea5 {
      top: 198rem;
      left: 16.7%; }
    main .text-idea6 {
      top: 205rem;
      left: 16.7%; }
    main .text-idea7 {
      top: 212rem;
      left: 16.7%; } }
@media screen and (min-width: 322px) and (max-width: 768px) {
  .wrapper {
    height: 228.625rem; }

  header {
    height: 43.75rem;
    background-image: url("../../img/URLAUBSGLUCK_Landing_Tablet.jpg"); }

  .share-dreams {
    width: 35rem;
    height: 6.375rem;
    font-size: 3.25rem;
    letter-spacing: -0.12rem;
    position: relative;
    left: -0.6rem;
    margin: 13.4rem auto 0; }

  .fulfil-dreams {
    width: 24.875rem;
    height: 1.5rem;
    font-size: 1.5rem;
    margin: 2.9rem auto; }

  .find-partner {
    width: 14.125rem;
    height: 2.5rem;
    margin: -0.5rem auto; }

  .font-partner {
    position: relative;
    left: -0.1rem; }

  .left {
    margin: 5.9% 6.675%;
    float: left;
    font-size: 1.2rem;
    letter-spacing: 0.1rem; }

  .left:after {
    content: '..';
    position: relative;
    left: -2.8rem;
    top: -0.9rem;
    letter-spacing: -0; }

  .right {
    margin: 5.7% 4%;
    float: right; }

  main {
    margin: 0 auto;
    width: 46.5625rem; }
    main .how-it-works {
      margin: 5.9rem auto 2.5rem;
      position: relative; }
    main .how-it-works:after {
      content: '..';
      position: absolute;
      left: 57%;
      top: -0.9rem;
      letter-spacing: -0rem; } }
@media screen and (min-width: 770px) and (max-width: 1440px) {
  .wrapper {
    height: 212.375rem; }

  header {
    height: 43.75rem;
    background-image: url("../../img/URLAUBSGLUCK_Landing_Desktop-main.jpg"); }

  .share-dreams {
    font-size: 3.25rem;
    width: 39%;
    height: 6.313rem;
    padding: 6.2rem 30.5% 0; }

  .fulfil-dreams {
    width: 31.5%;
    height: 1.5rem;
    font-size: 1.5rem;
    padding: 2.9rem 34.27%; }

  .find-partner {
    width: 18%;
    height: 2.5rem;
    margin: -0.5rem 41%; }

  .left {
    margin: 3.7% 12.9%;
    float: left;
    font-size: 1.15rem;
    letter-spacing: 0.125rem; }

  .left:after {
    content: '..';
    position: relative;
    left: -23.675%;
    top: -0.9rem;
    letter-spacing: -0rem; }

  .right {
    margin: 3.7% 11.4%;
    float: right; }

  main {
    margin: 0 auto;
    width: 74.3%; }

  .how-it-works {
    margin: 5.9rem auto 2.5rem;
    position: relative; }

  .how-it-works:after {
    content: '..';
    position: absolute;
    left: 57%;
    top: -0.9rem;
    letter-spacing: -0rem; }

  .padding1 {
    position: relative;
    margin-right: 1.6%; }

  .padding2 {
    position: relative;
    margin-right: 8.625%; }

  .padding3 {
    position: relative;
    left: 4%;
    margin-left: -11%; }

  .jcarousel-prev {
    position: absolute;
    left: 1.5rem;
    top: 9rem; }

  .jcarousel-next {
    position: absolute;
    left: 15.5rem;
    top: 9rem; }

  .var1, .var3 {
    position: absolute;
    left: 7%;
    top: 14.3rem; }

  .mod1, .mod3 {
    position: absolute;
    left: 7%;
    top: 16.5rem; }

  .chn1, .chn3 {
    position: absolute;
    left: 7%;
    top: 20.7rem; }

  .var2 {
    position: absolute;
    left: 7%;
    top: 16rem; }

  .mod2 {
    position: absolute;
    left: 7%;
    top: 18.2rem; }

  .chn2 {
    position: absolute;
    left: 7%;
    top: 20.5rem; }

  .separate-meet-partner {
    width: 26.063rem;
    margin: 5.47rem auto 2.55rem;
    text-align: center; }

  .screen, .partner {
    display: inline-block; }

  .img-partner1 {
    left: 3.2rem;
    position: absolute;
    top: -1.3rem; }

  .img-partner2 {
    position: absolute;
    left: 17.9rem;
    top: -1rem; }

  .img-partner3 {
    position: absolute;
    left: 32.7rem;
    top: -1.3rem; }

  .img-partner4 {
    left: 47.5rem;
    position: absolute;
    top: -1.3rem; }

  .title-partner1 {
    position: absolute;
    left: 0.9rem;
    top: 7.7rem; }

  .description-partner1 {
    position: absolute;
    left: 0.1rem;
    top: 9.4rem; }

  .title-partner2 {
    position: absolute;
    left: 15.6rem;
    top: 7.7rem; }

  .description-partner2 {
    position: absolute;
    left: 14.8rem;
    top: 9.4rem; }

  .title-partner3 {
    position: absolute;
    left: 30.3rem;
    top: 7.7rem; }

  .description-partner3 {
    position: absolute;
    left: 29.5rem;
    top: 9.4rem; }

  .title-partner4 {
    position: absolute;
    left: 45rem;
    top: 7.7rem; }

  .description-partner4 {
    position: absolute;
    left: 44.3rem;
    top: 9.4rem; }

  .separate-search-partner {
    margin: 15.625rem auto 0; }

  .upper-ideas, .lower-ideas {
    margin: 5.8rem auto 2.7rem;
    width: 36.33%;
    height: 1.375rem; }

  .lower-ideas {
    position: relative;
    top: -1.4rem; }

  .grid-sizer, .grid-item {
    width: 31.5%; }

  .grid-item {
    display: inline-block;
    margin-bottom: 14.4px; }

  .margined {
    margin-right: 19.2px; }

  .grid-item--width2 {
    width: 619px; }

  .text-idea1 {
    top: 126.2rem;
    left: 16.7%; }

  .text-idea2 {
    top: 126.1rem;
    left: 41.7%; }

  .text-idea3 {
    width: 15%;
    top: 125.3rem;
    left: 68.5%; }

  .text-idea4 {
    top: 146.4rem;
    left: 21.8%; }

  .text-idea5 {
    top: 146.7rem;
    left: 53%; }

  .text-idea6 {
    top: 167.4rem;
    left: 32.7%; }

  .text-idea7 {
    top: 167.3rem;
    left: 71.2%; }

  .other-interest {
    margin: -1.2rem auto 1.2rem;
    width: 29.8%; }

  .form-partner {
    margin: 2% auto 8.7%;
    width: 44%; }

  .other-text-partner {
    margin: 1.2rem 0.7%;
    width: 57.8%;
    height: 2.3rem; }

  .other-go-partner {
    width: 39.3%;
    height: 2.3rem; }

  footer {
    margin: 0 auto;
    width: 74.3%; }

  .footer-mn {
    padding: 2.2rem 25.5% 0;
    list-style-type: none; }

  .footer-mn-it {
    padding-top: 0.6rem; }

  .footer-ht {
    float: left;
    padding-top: 2.2rem;
    letter-spacing: 0.05rem; }

  .footer-pts {
    position: relative;
    top: -7.5rem;
    left: 42.6%; }

  .designer {
    float: right;
    position: relative;
    top: -8.5rem;
    left: 0.1%; }

  .produced {
    position: relative;
    left: 26%; }

  .picture {
    display: inline-block;
    position: relative;
    top: 0.5rem;
    left: -3%; }

  .firm {
    display: inline-block;
    position: relative;
    left: 2%; }

  .icon {
    position: relative;
    top: -0.2rem;
    left: 28.5%; } }
